.outputField input {
  border-color: transparent;
  border: 1px solid white;
  line-height: 30px;
  min-width: 290px;
  min-height: 40px;
}

.outputField label {
  top: 0;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

.outputField label[for=dynamic-label-input] {
  position: absolute;
  top: 100px;
  right: 50%;
}

.outputField input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(1rem);
}
